#modal{
  position: fixed;
  top: 25vh;
  /* bottom: 25vh; */
  /* left: 25vh; */
  /* right: 25vh; */
  background-color: white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 2rem;
}
