.button{
  background-color: #fff;
  color: black;
  border: 0px;
  margin: 10px;
  padding: 0px;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  height: 40px;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  overflow: hidden;
}

.button:hover{
  background-color: #fff;
  color: black;
}

.button.active{
  background-color: #007bff;
  color: white;
}

.button.active:hover{
  background-color: #007bff;
}
