.googleMaps{
  position: sticky;
  top: 1rem;
  height: calc( 100vh - 2rem );
}

.card{
  margin: 1rem 0;
}
.cardTitle{
  margin: 0;
}

.locationName{
  font-weight: 700;
}

.searchBar{
  margin: 2rem 0;
}

.noResults{
  width: 100%;
  text-align: center;
}

.brand{
  font-family: 'Kalam', cursive;
  text-align: center;
  font-size: 3.5rem;
}

.valid > span{
  background-color: var(--blue);
  color: var(--white);
}

.selected{
  border-color: var(--blue);
}
